body {
    width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

h1, p {
    color: #333;
}

div {
    margin: 0.5rem 0.2rem;
}

#div_info {
    text-align: right;
}

input, label, textarea {
    margin: 0.4rem 0;
}
