body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.centered {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
}

h1 {
    font-size: 2em;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
}

h1, p {
    color: #333;
}

div {
    margin: 0.5rem 0.2rem;
}

#div_info {
    text-align: right;
}

input, label, textarea {
    margin: 0.4rem 0;
}

footer {
    flex: 1;
    margin: 2em 0 0 0;
    padding: 2em 0 0 0;

    background-color: #EEE;
    font-size: 0.9em;
}


#div_login, #div_upload {
    display: none;  /* do not show the divs until we know which one to show */
}
